<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9hgQAO0sujbt18RT5BV7OBnnWwPt9Q50</string>
	<key>GCM_SENDER_ID</key>
	<string>695992104136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fibonacci</string>
	<key>PROJECT_ID</key>
	<string>flutterappdemo-f4a02</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterappdemo-f4a02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695992104136:ios:d8023bc1e0f84c5438e1fd</string>
</dict>
</plist>